@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.65rem !important;
  --background: oklch(1 0 0) !important;
  --foreground: oklch(0.141 0.005 285.823) !important;
  --card: oklch(1 0 0) !important;
  --card-foreground: oklch(0.141 0.005 285.823) !important;
  --popover: oklch(1 0 0) !important;
  --popover-foreground: oklch(0.141 0.005 285.823) !important;
  --primary: oklch(0.648 0.2 131.684) !important;
  --primary-foreground: oklch(0.986 0.031 120.757) !important;
  --secondary: oklch(0.967 0.001 286.375) !important;
  --secondary-foreground: oklch(0.21 0.006 285.885) !important;
  --muted: oklch(0.967 0.001 286.375) !important;
  --muted-foreground: oklch(0.552 0.016 285.938) !important;
  --accent: oklch(0.967 0.001 286.375) !important;
  --accent-foreground: oklch(0.21 0.006 285.885) !important;
  --destructive: oklch(0.577 0.245 27.325) !important;
  --border: oklch(0.92 0.004 286.32) !important;
  --input: oklch(0.92 0.004 286.32) !important;
  --ring: oklch(0.841 0.238 128.85) !important;
  --chart-1: oklch(0.871 0.15 154.449) !important;
  --chart-2: oklch(0.723 0.219 149.579) !important;
  --chart-3: oklch(0.627 0.194 149.214) !important;
  --chart-4: oklch(0.527 0.154 150.069) !important;
  --chart-5: oklch(0.448 0.119 151.328) !important;

  --sidebar: oklch(0.21 0.006 285.885) !important;
  --sidebar-foreground: oklch(0.985 0 0) !important;
  --sidebar-primary: oklch(0.768 0.233 130.85) !important;
  --sidebar-primary-foreground: oklch(0.986 0.031 120.757) !important;
  --sidebar-accent: oklch(0.274 0.006 286.033) !important;
  --sidebar-accent-foreground: oklch(0.985 0 0) !important;
  --sidebar-border: oklch(1 0 0 / 10%) !important;
  --sidebar-ring: oklch(0.405 0.101 131.063) !important;
}

.dark {
  --background: oklch(0.141 0.005 285.823) !important;
  --foreground: oklch(0.985 0 0) !important;
  --card: oklch(0.21 0.006 285.885) !important;
  --card-foreground: oklch(0.985 0 0) !important;
  --popover: oklch(0.21 0.006 285.885) !important;
  --popover-foreground: oklch(0.985 0 0) !important;
  --primary: oklch(0.648 0.2 131.684) !important;
  --primary-foreground: oklch(0.986 0.031 120.757) !important;
  --secondary: oklch(0.274 0.006 286.033) !important;
  --secondary-foreground: oklch(0.985 0 0) !important;
  --muted: oklch(0.274 0.006 286.033) !important;
  --muted-foreground: oklch(0.705 0.015 286.067) !important;
  --accent: oklch(0.274 0.006 286.033) !important;
  --accent-foreground: oklch(0.985 0 0) !important;
  --destructive: oklch(0.704 0.191 22.216) !important;
  --border: oklch(1 0 0 / 10%) !important;
  --input: oklch(1 0 0 / 15%) !important;
  --ring: oklch(0.405 0.101 131.063) !important;
  --chart-1: oklch(0.871 0.15 154.449) !important;
  --chart-2: oklch(0.723 0.219 149.579) !important;
  --chart-3: oklch(0.627 0.194 149.214) !important;
  --chart-4: oklch(0.527 0.154 150.069) !important;
  --chart-5: oklch(0.448 0.119 151.328) !important;
  --sidebar: oklch(0.21 0.006 285.885) !important;
  --sidebar-foreground: oklch(0.985 0 0) !important;
  --sidebar-primary: oklch(0.768 0.233 130.85) !important;
  --sidebar-primary-foreground: oklch(0.986 0.031 120.757) !important;
  --sidebar-accent: oklch(0.274 0.006 286.033) !important;
  --sidebar-accent-foreground: oklch(0.985 0 0) !important;
  --sidebar-border: oklch(1 0 0 / 10%) !important;
  --sidebar-ring: oklch(0.405 0.101 131.063) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px) !important;
  --radius-md: calc(var(--radius) - 2px) !important;
  --radius-lg: var(--radius) !important;
  --radius-xl: calc(var(--radius) + 4px) !important;
  --radius-2xl: calc(var(--radius) + 8px) !important;
  --radius-3xl: calc(var(--radius) + 12px) !important;
  --radius-4xl: calc(var(--radius) + 16px) !important;

  --color-background: var(--background) !important;
  --color-foreground: var(--foreground) !important;
  --color-card: var(--card) !important;
  --color-card-foreground: var(--card-foreground) !important;
  --color-popover: var(--popover) !important;
  --color-popover-foreground: var(--popover-foreground) !important;
  --color-primary: var(--primary) !important;
  --color-primary-foreground: var(--primary-foreground) !important;
  --color-secondary: var(--secondary) !important;
  --color-secondary-foreground: var(--secondary-foreground) !important;
  --color-muted: var(--muted) !important;
  --color-muted-foreground: var(--muted-foreground) !important;
  --color-accent: var(--accent) !important;
  --color-accent-foreground: var(--accent-foreground) !important;
  --color-destructive: var(--destructive) !important;
  --color-border: var(--border) !important;
  --color-input: var(--input) !important;
  --color-ring: var(--ring) !important;
  --color-chart-1: var(--chart-1) !important;
  --color-chart-2: var(--chart-2) !important;
  --color-chart-3: var(--chart-3) !important;
  --color-chart-4: var(--chart-4) !important;
  --color-chart-5: var(--chart-5) !important;

  --color-sidebar: var(--sidebar) !important;
  --color-sidebar-foreground: var(--sidebar-foreground) !important;
  --color-sidebar-primary: var(--sidebar-primary) !important;
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground) !important;
  --color-sidebar-accent: var(--sidebar-accent) !important;
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground) !important;
  --color-sidebar-border: var(--sidebar-border) !important;
  --color-sidebar-ring: var(--sidebar-ring) !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
